@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  /* Colors */
  --color-blue: #0065e1;
  --color-green: #02ce13;
  --color-dark-blue: #0e1a28;
  --color-white: #ffffff;
  --color-black: #161616;
  --color-gray: #c3c3c3;
}
